In [165]:
# importing dependencies
from bs4 import BeautifulSoup as bs
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
import requests

In [166]:
# Setting up Splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome' , **executable_path , headless = False)

====== WebDriver manager ======
Current google-chrome version is 92.0.4515
Get LATEST driver version for 92.0.4515
Driver [C:\Users\daypa\.wdm\drivers\chromedriver\win32\92.0.4515.107\chromedriver.exe] found in cache

In [167]:
# Scraping the news title and its paragraph text from the Mars news site https://redplanetscience.com/
news_target = 'https://redplanetscience.com/'
browser.visit(news_target)

In [168]:
# Storing the current browser's html page
news_html = browser.html

# Creating soup object from html file
soup = bs(news_html , 'html.parser')

In [169]:
# The html element that contains all target data is a <div> element with class = 'list_text'

# The title text we are interested in is in <div class = 'content_title'
# We want the most recent title so we use the find() function
news_title = soup.find('div' , class_ = 'content_title').text

# The paragraph text we are interested in has class = 'article_teaser_body'
news_p = soup.find('div' , class_ = 'article_teaser_body').text

In [170]:
# Visiting the space image site 'https://spaceimages-mars.com/'
image_target = 'https://spaceimages-mars.com/'
browser.visit(image_target)
image_html = browser.html
news_soup = bs(image_html , 'html.parser')

In [171]:
# Extracting the relative url of the featured image
rel_url = news_soup.find('img' , class_ = 'headerimage').get('src')

# Concatenating the root url with that of the imag url
img_url = image_target + rel_url

In [172]:
# Visiting the Mars Facts site 'https://galaxyfacts-mars.com/'
facts_target = 'https://galaxyfacts-mars.com/'

# Use pandas to scrape the html table of all the mars facts
tables = pd.read_html(facts_target)

# Slicing out the table we are interested in
mars_facts = tables[0]

# Displaying the mars_facts DF
mars_facts.head()

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km

In [173]:
# Transforming the extracted table using pandas
# Renaming the column names
mars_facts.columns = ['Mars/Earth Comparison' , 'Mars' , 'Earth']

# Dropping the first row in the data frame
mars_facts.drop( axis= 0 , index = 0 , inplace=True)

# Displaying the transformed Data Frame
mars_facts.head()

  Mars/Earth Comparison             Mars            Earth
1             Diameter:         6,779 km        12,742 km
2                 Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                Moons:                2                1
4    Distance from Sun:   227,943,824 km   149,598,262 km
5       Length of Year:   687 Earth days      365.24 days

In [174]:
# Converting the pandas DF into html table
facts_html = mars_facts.to_html()

In [180]:
# Visiting Astropedia to scrape hemisphere images 'https://marshemispheres.com/'
hem_target = 'https://marshemispheres.com/'
browser.visit(hem_target)
hem_html = browser.html
hem_soup = bs(hem_html , 'html.parser')
# Finding the links to the hemispheres in the landing page
hem_links = browser.links.find_by_partial_text('Hemisphere')

In [181]:

# Defining list to contain hemisphere dictionaries

# Looping through the links to the different hemispheres
for link in range(0 , 4):

    # Finding the links to the hemispheres in the landing page
    hem_links = browser.links.find_by_partial_text('Hemisphere')

    # navigating to the page
    hem_links[link].click()

    # Receiving the html response
    html = browser.html

    # Generating soup object from html response
    soup = bs(html , 'html.parser')

    # Scraping goes here
    

    # Return to home page
    browser.links.find_by_partial_text('Back').click()

hello
hello
hello
hello

In [ ]:
# second hem
hem_links[1].click();
bs(browser.html , 'html.parser');

# Returning using the back button
browser.links.find_by_partial_text('Back').click()
hem_links = browser.links.find_by_partial_text('Hemisphere')
bs(browser.html , 'html.parser')
hem_links[2].click();
bs(browser.html , 'html.parser');